h1{
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
}
b{
    text-align: justify;
    color: blue;
}
h4{
    color: deeppink;
}
h3{
    color: darkmagenta;

}
p{
    text-align: center;
}