h1{
    color: darkblue;
    background-color: fuchsia;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
    background-color: aqua;
    
    
}
img{
    border-radius: 4%;
    
}